/* STRONA */
.profile-page {
    padding: 40px 60px;
}

/* DWIE RÓWNE KOLUMNY */
.profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: stretch;
}

/* LEWA KOLUMNA */
.profile-left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* TYTUŁ LEWY */
.profile-title-left {
    align-self: flex-start;
    color: #0a47a9;
    font-size: 18px;
    font-weight: 600;
}

/* BIAŁA KARTA */
.profile-left {
    border: 4px solid #0a47a9;
    border-radius: 28px;

    padding: 28px 24px 28px 24px;

    display: flex;
    flex-direction: column;
    gap: 42px;
}

.profile-left p {
    margin: 0;
    font-weight: 600;
    color: #0a47a9;
}

/* PRZYCISK ZAWSZE NA DOLE */
.profile-left-column .primary-btn {
    margin-top: auto;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    font-weight: 600;
}

/* PRAWA KOLUMNA */
.profile-right {
    position: relative;
    background: #0a47a9;
    border-radius: 32px;

    padding: 28px 24px 32px;
    min-height: 460px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition:
            opacity 0.25s ease,
            transform 0.25s ease;
}

/* STANY */
.profile-right.hidden {
    opacity: 0;
    transform: translateX(40px);
    pointer-events: none;
}

.profile-right.visible {
    opacity: 1;
    transform: translateX(0);
}

/* TYTUŁ PRAWY */
.profile-title-right {
    align-self: flex-start;
    margin-left: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
}

/* ZAMKNIĘCIE */
.profile-close {
    position: absolute;
    top: 18px;
    right: 24px;

    background: none;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/* INPUTY */
.profile-right .field {
    width: 75%;
    height: 44px;
    margin-bottom: 18px;

    border-radius: 22px;
    border: none;
    padding: 0 16px;

    font-size: 14px;
}

/* ZAPISZ */
.profile-save {
    margin-top: auto;
    width: 200px;
    height: 44px;
    border-radius: 22px;
    font-weight: 600;
}

/* MOBILE */
@media (max-width: 900px) {
    .profile-page {
        padding: 24px;
    }

    .profile-content {
        grid-template-columns: 1fr;
    }
}
