.dashboard {
    min-height: 100vh;
    width: 100%;

    /* GLOBALNA CZCIONKA DLA PANELU */
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* CONTENT */
.dashboard-content {
    padding: 20px 32px;
}

/* INFORMACJA O UŻYTKOWNIKU */
.dashboard-user {
    color: #0a47a9;
    font-weight: 700;
    margin-bottom: 20px;
}

/* TYTUŁ SEKCJI */
.dashboard-section {
    margin-top: 10px;
    color: #b0b0b0;
    font-weight: 700;
    border-bottom: 2px solid #b0b0b0;
    padding-bottom: 6px;
}

/* RESPONSYWNOŚĆ */

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
