/* SIATKA KAFELKÓW ADMINA */
.ad-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 28px 40px;
    padding: 24px 0;
}

/* WSPÓLNE STYLE KAFELKA */
.ad-tile {
    width: 100%;
    background: #0a47a9;
    border: none;
    border-radius: 22px;
    color: #ffffff;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* DUŻY KAFEL*/
.ad-tile--big {
    height: 210px;
    padding: 18px 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* TYTUŁ KAFELKA */
.ad-title {
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* USUNIĘCIE FOCUS / ACTIVE */
.ad-tile:focus,
.ad-tile:focus-visible,
.ad-tile:active {
    outline: none;
    box-shadow: none;
}

/* MOBILE */
@media (max-width: 900px) {
    .ad-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .ad-tile--big {
        height: 190px;
    }

    .ad-icon {
        width: 100px;
        height: 100px;
    }
}
